<!doctype html>
<html>
    <head>
        <title>ITER Travel</title>
        <header>
<img src="/jpeg-home.jpg">
        </header>
        
    </head>
    <body>
        {{{body}}}
    </body>
</html>